<div class="comment">
<p>
  <%= comment.commenter %> :
  <%= comment.body %>
</p>

<btn btn-primary>
  <%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</btn btn-primary>
</div><br>