/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 * {
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: antiquewhite;
    color: #34526f;
    font-family: 'Asap', sans-serif;
  }

 h1 {
    background: #34526f;
    padding: 20px;
    color: antiquewhite;
    text-align: center;
    font-family: 'Asap', sans-serif;
 }

 button {
    border-radius: 20px;
    background-color: #34526f;
    color: antiquewhite;
    width: 190px;
    height: 30px;
  }

  .card {
    width: 300px;
    background-color: #34526f;
    color: antiquewhite;
  }

.comm_btn {
  border-radius: 20px;
  text-align: center;
  padding: 3px;
  background-color: #34526f;
  color: antiquewhite;
  width: 70px;
  height: 30px;
}
  
.comment {
  width: 300px;
  background-color: #34526f;
  color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
}

.comment_head {
  padding: 10px;
  border-radius: 10px;
  border-color: teal;
  border-width: 10px;
  background-color: coral;
  color: black;
}